.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 500px;
  padding: 10px;
}

.title {
  color: var(--header);
}
